@model PluralsightMVC.ViewModels.BookListViewModel

<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Amazon Books</title>
</head>
<body>
    @foreach (var book in Model.Data)
    {
        <div>
            <h2>@book.Name</h2>
            <h3>@book.Price.ToString("c")</h3>
            <img src='@book.Media.FirstOrDefault()?.Url'/>
        </div>
    }
</body>
</html>

